@media (max-width: 1024px) {
    .sidebar {
    display: none;
    }
    .ananas{
        background-color:#fec107;
    }
    .pepe{
        color:white;
        text-shadow:0 0 1px black;
        font-size:20px;
        font-weight:800 !important;
        font-size:2.6em !important;
    }
    .logomh{
        height:35vw;
    }
    .pepe-light{
        color:white;
        text-align:justify;
    }
    .marginmobile{
        margin-top: 5%;
    }
    .pfooter{
        display:block;
    }
    .pl-0{
        width:50%;
    }
}
